---
platform: linux
image: docker:///cloudfoundry/bosh-lite-ci

inputs:
  - name: bosh-softlayer-tools
    path: gopath/src/github.com/cloudfoundry-community/bosh-softlayer-tools

run:
  path: gopath/src/github.com/cloudfoundry-community/bosh-softlayer-tools/ci/tasks/verify-environment.sh

params:
  CF-API: replace-me
  CF-USERNAME: replace-me
  CF-PASSWORD: replace-me
  APP-API: replace-me
  NAME_SERVER: replace-me